<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>คุณป้อนข้อมูลไม่ถูกต้อง</h1>
    <p>โปรดป้อนอุณหภูมิที่ถูกต้องและเลือกหน่วย</p>
    <a href="/formtemp">กลับสู่ฟอร์ม</a>
</body>
</html>
