<!DOCTYPE html>
<html>
<head>
    <title>Calculate Grade</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container mt-5">
        <div class="card text-white bg-dark">
            <div class="card-header text-center">
                <h5>Calculate Grade</h5>
            </div>
            <div class="container">
                <form action="/formgrade" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="score">คะแนนเก็บ</label>
                        <input type="number" class="form-control" id="score" name="score" placeholder="ป้อนคะแนนเก็บ" required>
                    </div>
                    <div class="form-group">
                        <label for="midterm">คะแนนสอบกลางภาค</label>
                        <input type="number" class="form-control" id="midterm" name="midterm" placeholder="ป้อนคะแนนสอบกลางภาค" required>
                    </div>
                    <div class="form-group">
                        <label for="final">คะแนนสอบปลายภาค</label>
                        <input type="number" class="form-control" id="final" name="final" placeholder="ป้อนคะแนนสอบปลายภาค" required>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary mr-3" value="ส่งข้อมูล">
                        <input type="reset" class="btn btn-secondary" value="ล้างข้อมูล">
                    </div>
                </form>
                <div class="form-group">
                <a href="/" class="btn btn-warning">กลับสู่หน้าหลัก</a>
            </div>
            </div>
        </div>
    </div>
</body>
</html>