<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
    <header>
        <%- include('./partials/header'); %>
    </header>


    <body>
        <div class="container mt-5">
            <div class="card text-white bg-dark">
                <div class="card-header text-center">
                    <h5>ฟอร์มการแปลงอุณหภูมิ</h5>
                </div>
                <div class="container">
                    <form action="/formtemp" method="post" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="temperature">ค่าอุณหภูมิ:</label>
                            <input type="number" class="form-control" id="temperature" name="temperature" placeholder="ระบุค่าอุณหภูมิ" >
                        </div>
                            <div class="form-group">
                                <label for="unit">หน่วยการแปลง:</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="btn-check" type="radio" id="unit-f" name="unit" value="F">
                                    <label class="form-check-label text-warning" for="unit-f">แปลงจากองศาฟาเรนไฮต์ไปเป็นองศาเซลเซียส</label>
                                </div>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="unit-c" name="unit" value="C">
                                    <label class="form-check-label text-warning" for="unit-c">แปลงจากองศาเซลเซียสไปเป็นองศาฟาเรนไฮต์</label>
                                </div>


                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary mr-3" value="ส่งข้อมูล">
                                    <input type="reset" class="btn btn-secondary" value="ล้างข้อมูล">
                                </div>
                                <a href="/" class="btn btn-warning">กลับสู่หน้าหลัก</a>
                            </div>
                            
                    </form>
            
                            <script>
                                function validateForm() {
                                    var temperature = document.getElementById("temperature").value;
                                    var unit = document.querySelector('input[name="unit"]:checked').value;
                                    if (temperature == "" || temperature == null) {
                                        alert("Please enter a temperature.");
                                        return false;
                                    }
                                    if (isNaN(temperature) || (unit !== "F" && unit !== "C")) {
                                        alert("Please enter a valid temperature and select a unit.");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                        </div>
            </div>
        </div>
    </body>


            
    
    
    </body>
</html>
