<!DOCTYPE html>
<html>

    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
    <header>
        <%- include('./partials/header'); %>
    </header>

        <div class="jumbotron jumbotron-fluid text-center text-white">
            <h1 class="display-4">Calculating Tool</h1>
            <p class="lead">แปลงอุณหภูมิและคำนวณเกรดได้อย่างง่ายดาย ไชโย.</p>
            <div class="text-center">
                <a href="/formtemp" class="btn btn-success mr-3 btn-lg">แปลงอุณหภูมิ</a>
                <a href="/formgrade" class="btn btn-danger btn-lg">คำนวณเกรด</a>
            </div>
            <div">
            <a style="font-size:24px" href="https://github.com/chalitguza/calculatingtool-pkru" target="_blank" class="btn btn-dark btn-lg" >Source Code<i class="fa fa-github btn-lg"></i></a>
            </div>
        </div>
    </body>

</html>
