<!DOCTYPE html>
<html>
    <head>
        <title>Temperature Calculator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="./css/styles.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header>
        <%- include('./partials/header'); %>
    </header>
        <div class="jumbotron jumbotron-fluid text-center text-white">
            <h1 class="display-4">Calculating Tool</h1>
            <p class="lead">แปลงอุณหภูมิและคำนวณเกรดได้อย่างง่ายดาย ไชโย.</p>
            <div class="text-center">
                <a href="/formtemp" class="btn btn-success mr-3 btn-lg">แปลงอุณหภูมิ</a>
                <a href="/formgrade" class="btn btn-danger btn-lg">คำนวณเกรด</a>
            </div>
            <div">
            <a style="font-size:24px" href="https://github.com/chalitguza/calculatingtool-pkru" target="_blank" class="btn btn-dark btn-lg" >Source Code<i class="fa fa-github btn-lg"></i></a>

            </div>
        </div>
    </body>



</html>
